transformers==4.30.2
transformers==4.33.2
protobuf
cpm_kernels
torch>=2.0
gradio
mdtex2html
sentencepiece
accelerate
pyarrow
peft
torchsummary
openai==0.28
deepspeed
ujson
gradio== 3.39.0 #3.40
typing-extensions
pydantic==1.10.7
datasketch